
/* ROBOTO FONT */
.roboto-light {
  font-family: 'Roboto Condensed', sans-serif;
  color: #000;
  font-weight: 300;
}

.roboto-regular {
  font-family: 'Roboto Condensed', sans-serif;
  color: #000;
  font-weight: 400;
}

.roboto-bold {
  font-family: 'Roboto Condensed', sans-serif;
  color: #000;
  font-weight: 700;
}

/* OSWALDFONT */
.oswald-light {
  font-family: 'Oswald', sans-serif;
  color: #000;
  font-weight: 300;
}

.oswald-regular {
  font-family: 'Oswald', sans-serif;
  color: #000;
  font-weight: 400;
}

.oswald-medium {
  font-family: 'Oswald', sans-serif;
  color: #000;
  font-weight: 500;
}

.oswald-semi-bold {
  font-family: 'Oswald', sans-serif;
  color: #000;
  font-weight: 600;
}

.oswald-bold {
  font-family: 'Oswald', sans-serif;
  color: #000;
  font-weight: 700;
}