{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    <h1>Home</h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h2>Hello {{ user.username }}</h2>
        <button><a href="logout">Logout</a></button>
    {% endif %}

    <div>
        <button><a href="createConfession">Add confession</a></button>

    </div>

    <h3>Your confessions : </h3>
    {% for conf in confession  %}
        <div>
            <h2>{{ conf.title }}</h2>
            <span>{{ conf.text }}</span>
        </div>
    {% endfor %}

{% endblock %}